[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2023.7.22"
charset-normalizer = "==3.2.0"
click = "==8.1.6"
idna = "==3.4"
pyqt5 = "==5.15.9"
pyqt5-plugins = "==5.15.9.2.3"
pyqt5-qt5 = "==5.15.2"
pyqt5-sip = "==12.12.2"
pyqt5-tools = "==5.15.9.3.3"
pyqtwebengine = "==5.15.6"
pyqtwebengine-qt5 = "==5.15.2"
python-dotenv = "==1.0.0"
qt5-applications = "==5.15.2.2.3"
qt5-tools = "==5.15.2.1.3"
requests = "==2.31.0"
urllib3 = "==2.0.4"

[dev-packages]

[requires]
python_version = "3.10"
